.scrim-card {
    background: #fff;
    border-radius: 2rem;
    border: 1px solid #ccc;
    margin-bottom: 3rem;
    
    img {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
    }

    .card-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2rem 1rem;

        a {
            text-transform: uppercase;
            font-family: @font2, sans-serif;

            color: @medgray;
            i {
                font-size: 6.2rem;
            }
        
            &:hover {
                text-decoration: none;
            }
        }

        p {
            font-size: 2.2rem
        }
    }
}